.hero-waves {
    height: 100px;
}

.hero-waves img {
    margin-top: -10px;
    margin-bottom: 50px;
    width: 100%;
    height: 300px;
}

.expirence h2 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.expirence h3 {
    padding: 15px;
}

h2 {
    font-size: 50px;
}

.intership a {

    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    padding: 15px 30px;
    color: #ddd7c2;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    top: 30px;
    border-color: rgba(23, 21, 16, 0.24);
    border-width: 1px;
    border-style: solid;
    box-shadow:
            2.8px 2.8px 2.2px rgba(0, 0, 0, 0.034),
            6.7px 6.7px 5.3px rgba(0, 0, 0, 0.042),
            12.5px 12.5px 10px rgba(0, 0, 0, 0.046),
            22.3px 22.3px 17.9px rgba(0, 0, 0, 0.049),
            41.8px 41.8px 33.4px rgba(0, 0, 0, 0.054),
            100px 100px 80px rgba(0, 0, 0, 0.07)
    ;


}

.intership a:hover {
    background-color: #91836e;
    color: #131313;

}


.past-jobs .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
    align-items: center;
}

html {
    width: 100%;
}

.job-place {
    background-clip: padding-box;
    border: 10px solid transparent;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    height: 230px;
    max-width: 300px;
}

.job-place div {
    border-radius: 10px;
    font-size: 16px;
}

.past-jobs img {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
    padding: 15px;
}

.col-md-3,
.col-sm-6,
.col-4 {
    margin-bottom: 30px;
}

.video {
    max-width: 800px;
    height: auto;
}

.video-2 {
    max-width: 800px;
    height: auto;
}

.past-work-img-logo {
    width: auto;
    max-height: 300px;
}

.past-work-img-logo img {
    width: auto;
    max-height: 200px;
}

.past-work-video {
    margin-top: 20px;
}

.past-work .row:first-of-type {
    margin-top: 0px;
}

.past-work .row {
    margin-top: 80px;
}

.past-work {
    padding: 50px;
}

.program-img-section {
    padding: 0px 0px 30px 0px;
}

.program-img {
    min-height: 150px;
    width: 100px;
    position: relative;
    padding: 70px;
    background-color: rgba(97, 94, 84, 0.2);
    background-blend-mode: screen;
    border-radius: 10px;
}

.program-img img {
    width: 60%;
    height: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%) translateX(-40px);
    transform: translateY(-50%) translateX(-40px) scale(0.8);
}

.hero {
    background-color: #91836e;
    padding-bottom: 75px;
}

.hero-img {
    overflow: hidden;
}

.hero-img img {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-height: 400px;
    max-width: 100%;
    border-radius: 1000px;
}

.about-me {
    margin-top: 240px;
}

.about-me .row {
    margin-top: 50px;
}

.about-me .row:first-child {
    margin-top: 85px;
}

.about-me .row:last-child {
    margin-top: 80px;
}

.about-me .col {
    margin: 20px;
    font-weight: bold;
}

.darkend-text {
    color: #918d7e;
}

.darkend2-text {
    color: #5c594f;
}

a {
    color: #ddd7c2;
    text-decoration: none;
    transition: ease-in-out 0.2s;
}

a:hover {
    color: #918d7e;
}

P {
    font-size: 22px;
}

.picture-1 {
    height: 100%;
  	min-width: 100%;
    margin: auto;
    overflow: hidden;
    background-image: url("../img/pictures/profilbilled.jpg");
    background-size: cover;
    background-position: center 20%;
    border-radius: 10px;
    opacity: 60%;
    transition: ease-in-out 0.2s;
    margin-bottom: 70px;

}

.picture-1:hover {
    opacity: 100%;
}

footer {
    padding: 20px;
}

footer p {
    font-size: 16px;
}

footer .nav-link {
    padding: 0;
}

.header {
    height: 100%;
}
.footer-container {
    height: 100%;
}
.footer-container .row .col-md-6 {
    margin-top: 50px;
}

.footer-container .row .col-md-6 h4{
    margin-bottom: -10px;
}


.contact-me {
    padding: 30px 0px 50px 0px;
}

.contact-me p {
    text-align: center;
    width: 100%;
    margin: auto;
    font-size: 20px;
}

.contact-me h1 {
    margin-top: 10px;
    margin-bottom: 20px;
}

body {
    position: relative;
    background-color: #131313;
    color: #ddd7c2;
}

.topic-line {
    margin-top: 22.5px;
    margin-bottom: 22.5px;
    width: 90%;
    height: 1px;
    opacity: 50%;
    background-color: #ddd7c2;
}

.about-me-pt1 {
    width: 70%;
    color: #ddd7c2;
}

.about-me-pt2 {
    text-align: right;
    margin-left: 30%;
}

.nav {
    background-color: #91836e;
    padding-top: 30px;
}

.nav-link {
    color: #ddd7c2;
}

.nav-link:visited {
    color: #ddd7c2;
}

.nav-link:active {
    color: #ddd7c2;
}

.nav-link:link {
    color: #ddd7c2;
}

.nav-link:hover {
    color: #e5e5e2;
    text-shadow: 0 0 10px #000000, 0 0 20px #e5e5e2, 0 0 30px #000000, 0 0 40px #e5e5e2, 0 0 50px #000000, 0 0 60px #e5e5e2, 0 0 70px #000000;
}
.footer-container{
    background-color: #161310;
    background-image: linear-gradient(357deg, #161310 0%, #524a40 30%, #91836e 90%);



    margin-top: 240px;
}
.footer-waves{

}

.footer-waves img {
    margin-top: -220px;
    width: 100%;
    height: 200px;
    transform: rotate(180deg);
}
